body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
input[type="checkbox"]{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}
.mode{
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    float: right;
    top: 10px;
    right: 20px;
    background-color: #000;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s ease-in;
}
input[type="checkbox"]:checked ~ .mode{
    background: #fff;
    box-shadow: 0 0 0 1500px #000;
}
.mode:before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: .5s;
}
input[type="checkbox"]:checked ~ .mode:before{
    transform: translateX(-50%);
}
.mode:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: #000;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: .5s;
    transform: translateX(50px);
}
input[type="checkbox"]:checked ~ .mode:after{
    transform: translateX(0px);
}
body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
